@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';




body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fff;
  font-family: 'Milker';
  background-color: black !important;
}

@font-face {
  font-family: 'Milker';
  src: url('../public/milker/Milker.otf');
}

.milker-font{
  font-family: 'Milker';
}

.roboto-font{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;	
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 10s linear infinite;
}

@keyframes spiral {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}